{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  org.clojure/data.json {:mvn/version "2.4.0"}
  org.clojure/tools.logging {:mvn/version "1.2.4"}
  org.clojure/tools.deps.alpha {:mvn/version "0.14.1205"}
  
  datascript/datascript {:mvn/version "1.3.13"}
  ch.qos.logback/logback-classic {:mvn/version "1.2.11"}
  clj-kondo/clj-kondo {:mvn/version "2022.05.31"}
  io.github.pedrorgirardi/lspie {:local/root "../lspie"}}

 :aliases
 {:test
  {:extra-paths ["test"]}

  :start
  {:exec-fn nightincode.server/start}

  :jar
  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
   :exec-fn hf.depstar/uberjar
   :exec-args {:main-class nightincode.server
               :exec-fn hf.depstar/uberjar
               :jar server.jar
               :aot true}
   :jvm-opts     ["-Dclojure.compiler.direct-linking=true"
                  "-Dclojure.spec.skip-macros=true"]}}}
