{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.12.0"}
  org.clojure/data.json {:mvn/version "2.5.1"}
  org.clojure/tools.logging {:mvn/version "1.3.0"}
  org.clojure/tools.deps {:mvn/version "0.23.1512"}
  
  com.exoscale/lingo {:mvn/version "1.0.5"}
  datascript/datascript {:mvn/version "1.7.4"}
  ch.qos.logback/logback-classic {:mvn/version "1.5.17"}
  clj-kondo/clj-kondo {:mvn/version "2025.02.20"}}

 :aliases
 {:repl
  {:jvm-opts ["-Dclojure.server.repl={:port,5555,:accept,clojure.core.server/repl}"]}

  :build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.10.7"}}
   :ns-default build}

  :dev
  {:extra-paths ["dev"]

   :extra-deps
   {org.clojure/test.check {:mvn/version "1.1.1"}
    com.bhauman/rebel-readline {:mvn/version "0.1.5"}}

    :main-opts  ["-m" "rebel-readline.main"]}

  :test
   {:extra-paths ["test"]}

  :test-runner
  {:extra-deps
   {io.github.cognitect-labs/test-runner
    {:git/url "https://github.com/cognitect-labs/test-runner.git"
     :sha "3f288f1f16d167723ad87cc35b1dfee3c1681e10"}}

   :exec-fn cognitect.test-runner.api/test
   :exec-args {:dirs ["test"]}}

  :kaocha
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
   :main-opts ["-m" "kaocha.runner"]}}}
