{:capabilities
 {:textDocumentSync 1
  :definitionProvider true
  :referencesProvider true
  :documentHighlightProvider true
  :documentSymbolProvider true
  :hoverProvider true
  :workspaceSymbolProvider true}

 :analyzer
 {:paths ["src"]}}
